.cute-container {
  display: flex;
  background-color: #fdfdfd;
  min-height: 100vh;
  width: 100%;
  background-image: url('./../../assets/landing.png');
  background-position: center center;
  background-repeat: no-repeat;
}

.cute-content {
  display: flex;
  width: 100%;
}

.cute-crown {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

#cute-content {
  position: absolute;
  z-index: 2;
  background-color: pink;
  width: 20rem;
  height: 20rem;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.cuteCrown {
  width: 11rem;
}
