@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.certificate-container {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 20vh;
  /* margin-top: 7rem; */
  background-color: rgb(250, 250, 250);
  font-family: 'Lato', sans-serif;
}

.certificate-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin-bottom: 5rem;
}

.cert-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.cert-btn-container p {
  margin: 0;
  font-weight: 500;
}

.cert-btn-container button {
  width: 10rem;
  height: 40px;
  border-radius: 7px;
  background-color: #d73d57;
  border-color: #d73d57;
  color: white;
}

.certificate-intro {
  margin-bottom: 3rem;
  text-align: center;
}

.certificate-intro h1 {
  font-weight: bold;
  color: rgb(153, 166, 254);
}

.cert-img-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cert-img-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.cert-img-container img {
  width: 13rem;
}

.modal-dialog {
  min-width: 10rem;
}

.modal img {
  width: 100%;
}

@media (max-width: 767px) {
  .cert-img-container img {
    width: 10rem;
  }
}
