@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.header-container {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

#navbar-nav {
  display: flex;
  margin: auto;
  background-color: white;
  width: 100%;
  min-height: 3rem;
}

#navbar-nav a {
  margin: 0 1rem;
  font-weight: 500;
}

#brand img {
  width: 70px;
  margin-left: 4rem;
}

#nav-links {
  margin-right: 3rem;
}

#nav-links a {
  font-weight: bold;
  color: #d73d57;
}

/* -------------------- */

.offcanvas-container {
  display: flex;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

.offcanvas-content img {
  margin: 1rem 1rem;
  width: 2rem;
}

#offcanvas-logo img {
  width: 70px;
}

#offcanvas-links {
  display: flex;
  flex-direction: column;
  /* margin-right: 3rem; */
}

#offcanvas-links a {
  font-weight: bold;
  color: #d73d57;
}

#offcanvas-icons-container {
  display: flex;
  gap: 10px;
  margin-left: 1rem;
}

#offcanvas-icons-container img {
  width: 1.5rem;
}

@media (max-width: 576px) {
  .header-container {
    display: none;
  }
}
